﻿<div class="container-fluid" ng-controller="mainCtrl">


    <nav class="navbar navbar-inverse container" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/home">Delivery 365</a>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li ng-show="loggedIn"><a href="#/orders">Orders</a></li>
                    <li ng-show="loggedIn"><button class="btn btn-success navbar-btn" ng-click="goto('/neworder')">New Order</button></li>
                    
                    <li ng-show="loggedIn"><a href="#/deliveries">Delivery Trips</a></li>
                    
                    <li ng-hide="loggedIn">
                        <a href="#/signin">Sign In</a>
                    </li>
                    <li ng-hide="loggedIn">
                        <a href="#/register">Register</a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Help</a></li>
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">{{username}} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Support</a></li>
                            <li class="divider"></li>
                            <li><a href="#" ng-click="logout()">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div>
    </nav>
    <div class="container">
        <div class="row">
       
            <div>
                <div ng-view>
                </div>
            </div>
        </div>


    </div>

</div>