﻿<div class="row well">
    <div class="col-sm-8 col-md-10 col-sm-offset-2 col-md-offset-1">
        <form class="css-form">
            <h2>Delivery <small>{{delivery.description}}</small></h2>
            <hr class="colorgraph">
           
            
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Order</th>
                        <th>ETA</th>
                        <th>Duration</th>
                        <th>Distance</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="order in delivery.orders">
                        <td class="col-sm-8 col-md-5">
                            <div class="media">
                                <div class="media-body">
                                    <h4 class="media-heading">{{order.shippingAddress}}</h4>
                                    <h5 class="media-heading"> To <a href="#">{{order.customer}}</a></h5>
                                    <span>Status: </span><span class="text-success"><strong>{{order.status}}</strong></span>
                                </div>
                            </div>
                        </td>
                        <td class="col-sm-1 col-md-3" >
                            <h5><span class="glyphicon glyphicon-time"></span> <strong>{{order.estimatedArrivingTime}}</strong></h5>
                            <h5><span class="glyphicon glyphicon-ok"></span> <strong>{{order.completed}}</strong></h5>
</td>
                        <td class="col-sm-1 col-md-2"><strong>{{order.duration}}</strong></td>
                        <td class="col-sm-1 col-md-2"><strong>{{order.distance}}</strong></td>
                        <td class="col-sm-1 col-md-1">
                            <button ng-show="order.tobeCompleted" type="button" ng-click="completeOrder(order.id)" class="btn btn-primary">
                                <span class="glyphicon glyphicon-ok"></span> Completed
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td colspan="2"><h5>Total Duration</h5></td>
                        <td colspan="2" ><h5><span class="glyphicon glyphicon-time"></span> <strong>{{delivery.totalDuration}}</strong></h5></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td colspan="2"><h5>Total Distance</h5></td>
                        <td colspan="2" ><h5><span class="glyphicon glyphicon-road"></span> <strong>{{delivery.totalDistance}}</strong></h5></td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" ng-show="delivery.readyToStart" ng-click="startDelivery(delivery.id)" class="btn btn-lg btn-success">
                                Start <span class="glyphicon glyphicon-play"></span>
                            </button>
                        </td>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        
                    </tr>
                </tbody>
            </table>

            
        </form>
    </div>
</div>