﻿<div class="row">
    <div class="col-md-12">

        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Delivery Trips</div>

            <table class="table table-hover">
                <tbody>
                    <tr>
                        <th>Destinations</th>
                        <th>DateTime</th>
                        <th>Status</th>
                        <th>Order Count</th>
                    </tr>
                    <tr ng-repeat="delivery in deliveries"><td><a href="#/delivery/{{delivery.id}}">{{delivery.description}}</a></td><td>Suburb</td><td>{{delivery.status}}</td><td>{{delivery.orderCount}}</td></tr>
                </tbody>
            </table>

           
        </div>
        
    </div>
</div>