﻿
<h2>Home</h2>

<p>
    Welcome to the Delivery365.  The goal of this project is to create application which suports .NET Web Api, AngularJS, Authentication, Authorization, and simple CRUD operations against web services.
</p>
<p>
    The Delivery365 utilizes the .NET Web Api and AngularJS.  the Web Api is used to expose services to potential clients, while angular is used for all frontend operations.  You will notice there are several other additions, such as jQuery and Bootstrap.  jQuery was added to support Bootstrap.  There are other bootstrap options, which play nice with Angular; but I choose regular bootstrap.
</p>
<p>
    Beside this, Domain Driven Design through Event Sourcing and CQRS architectural pattern has been experimented in this project too.
</p>
<p>
    AppController.cs is used to give partial views upon request.  Such as App/Home will give the home page, and it will return the home.cshtml.  home.cshtml is a partial page, and it will be inserted in the ngView when returned from the server.
</p>
<p>
    Depending on your database setup, you may want to change your database connection string.  The default configuration for this template is this:
    <br/>
    name="applicationDB" providername="System.Data.SqlClient" connectionstring="Server=.;Database=applicationDB;Integrated Security=True"
</p>
<p>Please feel free to sign up a user and have a play.</p>

