﻿<div class="row well">
    <div class="col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
        <form class="css-form">
            <h2>New Order <small>Quick and Easy.</small></h2>
            <hr class="colorgraph">
            <fieldset>
                <legend>Customer</legend>
                
                <div class="form-group">
                    <input type="text" ng-model="order.customer.name" class="form-control input-lg" placeholder="Name" required tabindex="1">
                </div>
                <div class="form-group">
                    <input type="text" ng-model="order.customer.phone" class="form-control input-lg" placeholder="Phone" pattern="^\D*0(\D*\d){9}\D*$" tabindex="3">
                </div>
                <div class="form-group">
                    <input type="email" ng-model="order.customer.email" class="form-control input-lg" placeholder="Email Address" tabindex="4">
                </div>
            </fieldset>

            <fieldset>
                <legend>Shipping Address</legend>

                <div class="form-group">
                    <input type="text" ng-model="order.shippingAddress.street1" class="form-control input-lg" placeholder="Line 1" required tabindex="5">
                </div>
                <div class="form-group">
                    <input type="text" ng-model="order.shippingAddress.street2" class="form-control input-lg" placeholder="Line 2" tabindex="6">
                </div>

                <div class="form-group">
                    <input type="text" ng-model="order.shippingAddress.suburb" class="form-control input-lg" placeholder="Suburb" required tabindex="7">
                </div>

                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input type="text" ng-model="order.shippingAddress.state" class="form-control input-lg" placeholder="State" required tabindex="8">
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input type="text" ng-model="order.shippingAddress.postcode" class="form-control input-lg" pattern="(\d{4})" placeholder="Postcode" required tabindex="9">
                        </div>
                    </div>
                </div>

            </fieldset>
            <hr class="colorgraph">
            <div class="row">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="pull-right">
                        <a href="" ng-click="cancel()" class="btn btn-link btn-lg">Cancel</a>
                        <button ng-click="save(order)" class="btn btn-primary btn-lg" tabindex="10">Save</button>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>