﻿<div class="row">
    <div class="col-md-12">

        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Orders</div>

            <table class="table table-hover">
                <tbody>
                    <tr>
                        <th></th>
                        <th>Customer</th>
                        <th>Created</th>
                        <th>ETA</th>
                        <th>Status</th>
                        <th>Address</th>
                    </tr>
                    <tr ng-repeat="order in orders"><td><input type="checkbox" ng-model="order.selected"></td><td>{{order.customer}}</td><td>{{order.created}}</td><td>{{order.estimatedArrivingTime}}</td><td>{{order.status}}</td><td>{{order.shippingAddress}}</td></tr>
                </tbody>
            </table>

           
        </div>
        
        <button ng-click="createDelivery()" class="btn btn-primary btn-lg" tabindex="10">Create Delivery Trip</button>
    </div>
</div>